# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Django
db.sqlite3
media/
staticfiles/
*.log

# Flutter
.dart_tool/
build/
.pub-cache/
.packages
.flutter-plugins
.flutter-plugins-dependencies

# OS / IDE
.vscode/
.idea/
.DS_Store
